{% extends "basicSite"  %}
{% block body %}
	<div class="norm">
		<h1>About me</h1>
		<p>I am a programmer and avid videogame player. I enjoy CS:GO, ARK:SE, TF2, Rimworld, and the best game ever made, Richochet(when is the 2nd one coming out?).  I do enjoy science a lot, love using my microsope to <strike>see how much pressure micro-organisms can withstand being put on the slide cover</strike> see interesting micro-organisms. I enjoy riding bikes--the human-powered ones. I am in the Liberty Robotics team 1764, and am currently in my 2nd year on the programming team. I hope to someday work on video games, however, a close second would be to program other software.</p>
<br>
<p>I also enjoy making websites no one will ever read</p>
	</div>
{% endblock %}
