{% extends "basicSite"  %}
{% block body %}
	<div class="norm">
		<h1 id="tophead">OMGOMGOMGOMG</h1>
		<h2 id="deschead">ASALKFJASDLK;FJASKIFJASKVHASKIHJFt</h2>
		<p id = "bodyNorm" class="bodyNormAbout">IF YOU HAVE EPILEPSY IT'S TOO LATE</p>
		<h2 id="deschead">GET OFF MY BOARD NORMIES REEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE</h2>
		<p id = "bodyNorm" class="bodyNormAbout">SADJFLKSAFJSALKFSALKDFJADF</p>
		<img src=http://1.bp.blogspot.com/-EdLID12lJEk/UM7z9t3CPpI/AAAAAAAAAbk/1dLLuZz1cO4/s1600/Gamer-Meme.jpg width=25% height=25%>
	</div>
{% endblock %}
{% block custcss %}
	
	/* Good - Standard syntax */
	@keyframes ree {
	    0% {transform: rotate(0deg); font-size: 100%; background-color: green;}
	    25% {transform: rotate(180deg); font-size: 190%; background-color: blue;}
	    50% {transform: rotate(360deg); font-size: 300%; background-color: red;}
	    75% {transform: rotate(540deg); font-size: 190%; background-color: orange;}
	    100% {transform: rotate(720deg); font-size: 100%; background-color: green;}
	}
	body
	{
	   font-family: "Comic Sans MS", "Comic Sans", cursive;

	   /* Good - Standard syntax */
	   animation-name: ree;
	   animation-duration: 0.01s;
	   animation-timing-function: linear;
	   animation-iteration-count: infinite;
	   z-index: 9999999;

	   color: white;

	} 
{% endblock %}
{% block nav %} 
{%endblock%}
