{% extends "basicSite"  %}
{% block body %}
	<div class="norm">
		<h1 id="tophead">OpenGraphpaper</h1>
		<h2 id="deschead">About</h2>
		<p id = "bodyNorm" class="bodyNormAbout">OpenGrahpaper is a Java program directed at students who struggle with reading their own handwriting(me), often carry a laptop but not paper &amp; pencil and do online math assignments, or disabled students(e.x. broke the arm they write with). OpenGraphpaper is simply a sheet of 150x150 cells, with eaching containing a peice of text. From this simple program, you can easily insert equations, solve them, and write notes about them. It is intuitive to use--for example, it automatically moves to the next cell after typing a character, you can click on a cell to move to it, and the arrow keys will move your highlighted cell. </p>
		<a href="https://github.com/AI221/OpenGraphpaper">Github</a>
		<p>Simply press the button that says "Clone or download", choose Download as Zip, unzip it, then navigate to the folder called "dist". Finally, double-click OpenGraphpaper.jar and give it 5-15 seconds to open.</p>
	</div>
{% endblock %}
